*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
    min-height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 10vh;
}

input {
    padding: 3px;
}

span {
    color: red;
}

.container{
    margin: 10vh auto;
}