.menu-lateral {
    width: 30%;
    min-height: 100vh;
    display: grid;
    align-items: center;
    background-color: #004643;
}

.menu-lateral ul li{
    color: #fff;
    list-style: none;
    margin: 1vh 0;
    padding: 2vh 3vw;
    text-transform: uppercase;
    letter-spacing: .1em;
    border-bottom: 1px solid black;
    transition-duration: 600ms;
}

.menu-lateral ul li:hover{
    color: #000;
    background-color:#abd1c6;
    letter-spacing: .17em;
}